<div class="contact">
  <div class="contact__info">
    <div class="contact__info__change-text">
      <p>If there is something in your mind,</p>
    </div>
    <p class="sub">please drop us a line!</p>
  </div>
  <div class="contact__form">
    <form action="">
      <div class="contact__form-item">
        <label for="">Your name</label>
        <input type="text" />
      </div>
      <div class="contact__form-item">
        <label for="">E mail </label>
        <input type="text" />
      </div>
      <div class="contact__form-item">
        <label for="">Phone number</label>
        <input type="number" />
      </div>
      <div class="contact__form-item">
        <label for="">Organization</label>
        <input type="text" />
      </div>

      <a class="screen-2__btn">
        <span>View details</span>
        <img src="/assets/img/24.png" alt="" />
      </a>
    </form>
  </div>
</div>
