<div class="wwd">
  <div class="wwd__intro">
    <h1>What . we . do</h1>
    <div class="ww__intro-sub">
      <p>Performance Marketing</p>
      <p>Branding & Strategy</p>
      <p>Digital Creative</p>
    </div>
  </div>
  <div class="wwd__content">
    <div class="wwd__item" *ngFor="let in of [].constructor(4); let i = index">
      <div class="wwd__item-left">
        <h3 class="title">Performance Marketing</h3>
        <div class="wwd__item-left__subtitle">
          <span>0{{ i + 1 }}</span>
          <p>E-Commerce Campaign</p>
        </div>
        <p class="wwd__item-left__info">
          Macom Agency Digital is specialized in E-commerce
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi delectus
          error quibusdam velit, itaque ipsa optio perspiciatis voluptate
          numquam omnis earum dignissimos alias quam autem ab asperiores, harum
          temporibus nam?
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi delectus
          error quibusdam velit, itaque ipsa optio perspiciatis voluptate
          numquam omnis earum dignissimos alias quam autem ab asperiores, harum
          temporibus nam?
        </p>
      </div>

      <div class="wwd__item-right">
        <div class="box"></div>
      </div>
    </div>
  </div>

  <div class="wwd__intro">
    <h1>How . we . work</h1>
    <div class="ww__intro-sub-2">
      <p>
        Each campaign feels to us like a work of creativity and science. By
        accompanying businesses, Macom understands business problems to create
        an effective creative communication strategy that inspires your
        customers and our people at Macom.
      </p>
    </div>
    <div class="wwd__intro--wave"></div>
  </div>
</div>

<div class="mouse-icon-wrap">
  <img src="/assets/img/32.png" alt="" class="mouse" />
  <img src="/assets/img/16.png" alt="" class="arrow-down" />
</div>
