# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/macom-client/dist
/macom-client/tmp
/macom-client/out-tsc
# Only exists if Bazel was run
/macom-client/bazel-out

# dependencies
/macom-client/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/macom-client/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/macom-client/.sass-cache
/macom-client/connect.lock
/macom-client/coverage
/macom-client/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/macom-client/typings

# System Files
.DS_Store
Thumbs.db
