/* You can add global styles to this file, and also import other style files */
body,
html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.w-30 {
  width: 30% !important;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap-container {
  width: 100%;
  height: 100vh;
  padding: 10%;
}
.mouse-icon-wrap {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.arrow-down {
  margin: 10px 0 5px 0;
  animation: bounce 2s infinite;
}
.our-work__content__slide {
  .arr-right {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }
  .arr-left {
    position: absolute;
    right: left;
    bottom: 0;
    cursor: pointer;
  }
}
