<div class="about">
  <div class="about__intro">
    <div class="screen-4__text-wrap">
      <div class="screen-4__title-1">
        <p>a</p>
        <p>b</p>
        <p>o</p>
        <p>u</p>
        <p>t</p>
      </div>
      <div class="screen-4__title-2">
        <p>u</p>
        <p>s</p>
      </div>
    </div>

    <div class="about__intro__content">
      <div class="--top"></div>
      <div class="--bot">
        <h3>Macom Digital</h3>
        <p>
          Behind each campaign's success is a challenging team that helps plan
          and optimize the entire customer experience, turning what the brand
          wants to say into what the customer wants to hear.
        </p>
      </div>
    </div>
  </div>

  <div class="about__mem">
    <div class="box"></div>
    <div class="about__mem__wrap">
      <h3>Tên thành viên</h3>
      <p>Vị trí</p>
      <p>
        Vị trí Giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu
        giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới
        thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu
        giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới
        thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu
        giới thiệu giới thiệu giới thiệu.
      </p>
    </div>
  </div>

  <div class="about__mem --ood">
    <div class="box"></div>
    <div class="about__mem__wrap">
      <h3>Tên thành viên</h3>
      <p>Vị trí</p>
      <p>
        Vị trí Giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu
        giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới
        thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu
        giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới
        thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu giới thiệu
        giới thiệu giới thiệu giới thiệu.
      </p>
    </div>
  </div>
</div>
