<div id="root">
  <div class="opening-screen screen-1">
    <div class="container">
      <div class="intro">
        <p class="intro__title">We are a</p>
        <div>
          <div class="intro__main">
            <div class="intro__main-content__wrap">
              <div class="intro__main-content left">
                <div class="wrap-text">
                  <p class="p1">Performance</p>
                  <p class="p2">Marketing</p>
                  <p class="p3">Agency</p>
                </div>
              </div>

              <div class="intro__main-content right">
                <div class="wrap-text">
                  <p class="p1">Performance</p>
                  <p class="p2">Marketing</p>
                  <p class="p3">Agency</p>
                </div>
              </div>
            </div>

            <div class="intro__main-detail">
              <p>
                Macom Digital has always maintained the mission of accompanying
                businesses to optimize your communication efficiency with
                passion and creativity flowing in our veins.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="opening-screen screen-2">
    <div class="screen-2__big-cricle" id="screen-2__big-cricle">
      <div class="screen-2__small-cricle">
        <div class="screen-2__wrap-text">
          <p class="screen-2__main-text">What.we.do</p>

          <div class="screen-2__center-circle">
            <p class="screen-2__main-text">What.we.do</p>
          </div>
        </div>
      </div>
    </div>

    <a class="screen-2__btn">
      <span>View details</span>
      <img src="/assets/img/24.png" alt="" />
    </a>
  </div>

  <div class="opening-screen screen-3">
    <div class="screen-3__main">
      <div class="screen-3-left">
        <h3 class="screen-3__heading heading">Our <span>works</span></h3>
        <ul class="screen-3__list">
          <li>A.O.Smith Vietnam</li>
          <li>Midea</li>
          <li>Eurowindow</li>
          <li>Sacombank</li>
          <li>Oriental Westlake</li>
        </ul>
      </div>

      <div class="screen-3-right">
        <div class="screen-3-right__img">
          <img src="/assets/img/right-img.png" alt="" />
        </div>
        <div class="screen-3-right__list-wrap">
          <ul class="screen-3-right__list">
            <li>ROAS: +600%</li>
            <li>Add to cart: 6.932</li>
            <li>Orders: +650</li>
          </ul>
        </div>
      </div>
    </div>

    <a class="screen-2__btn">
      <span>View details</span>
      <img src="/assets/img/24.png" alt="" />
    </a>
  </div>

  <div class="opening-screen screen-4">
    <div class="screen-4__mian">
      <div class="screen-4__text-wrap">
        <div class="screen-4__title-1 animate__animated animate__fadeInRight">
          <p>a</p>
          <p>b</p>
          <p>o</p>
          <p>u</p>
          <p>t</p>
        </div>
        <div
          class="screen-4__title-2 animate__animated animate__fadeInRight delay-250ms"
        >
          <p>u</p>
          <p>s</p>
        </div>
      </div>
      <div class="screen-4__block">
        <div
          class="screen-4__block-item animate__animated animate__fadeInRight delay-500ms"
        >
          <div class="screen-4__block-item__title">
            <h3>Macom digital</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
              accusamus numquam pariatur ipsum culpa facere et eius, explicabo
              aut ullam magni unde animi.
            </p>
          </div>
          <div class="screen-4__block-item__square"></div>
        </div>

        <div
          class="screen-4__block-item w-30 animate__animated animate__fadeInRight delay-500ms"
        >
          <div class="screen-4__block-item__square --yl"></div>
          <div class="screen-4__block-item__title">
            <h3>Tên thành viên</h3>
            <p>Vị trí</p>
            <p>Giới thiệu bản thân</p>
          </div>
        </div>
      </div>
    </div>

    <a class="screen-2__btn">
      <span>View details</span>
      <img src="/assets/img/24.png" alt="" />
    </a>
  </div>
</div>
