.screen-4__block-item__title {
	color: transparent;
	margin: 0 0 40px 0;

	position: relative;
	overflow: hidden;
	width: 100%;
	height: 200px;
	transition: all 500ms ease-in-out;
}

.screen-4__block-item__title > div {
	position: absolute;
	white-space: normal;
	top: 26px;
	width: 400px;
	left: 0;
}

.v-hidden {
	visibility: hidden;
}
.slides-list {
	display: flex;
	justify-content: space-between;
}

.screen-4__block-item {
	display: flex;
	flex-direction: column;
	width: 650px;
	cursor: pointer;
	transition: all 500ms ease-in-out;
}

.screen-4__block-item.active {
	width: 650px;
}

.screen-4__block-item.active-1 {
	width: 305px;
}

.screen-4__block-item.active-2 {
	width: 114px;
}

.screen-4__block-item.active-2 .screen-4__block-item__title {
	/* visibility: hidden; */
	width: 0;
}

.screen-4__block-item.active-1 .screen-4__block-item__title {
	/* visibility: hidden; */
	width: 0;
}

.screen-4__block-item {
	width: 0;
}

@media (min-width: 2560px) {
	.screen-4__block-item.active {
		width: 865px;
	}

	.screen-4__block-item.active-1 {
		width: 468px;
	}

	.screen-4__block-item.active-2 {
		width: 152px;
	}
	.screen-4__block-item__title h3 {
		font-size: 42px;
	}
	.screen-4__block-item__title p {
		font-size: 32px;
	}

	.screen-4__block-item__title > div {
		width: 840px;
	}

	.screen-4__block-item__title {
		height: 250px;
	}
}
