/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f6f6f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #626262;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #222222;
}

.contact {
	padding: 5% 10%;
	width: 100%;
	height: calc(100vh - 34px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #22222c;
}
.contact .contact__info {
	padding: 0 0 0 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}
.contact .contact__info p {
	font-family: "Space Mono";
	font-size: var(--heading40);
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #8d8d9c;
	margin: 0 0 30px 0;
	min-height: 96px;
}
.contact .contact__info p.sub {
	/* font-size: 24px; */
	color: #fff;
	min-height: unset;
	position: relative;
}

.contact .contact__info p.sub:before {
	position: absolute;
	content: "";
	width: 58px;
	height: 4px;
	background: #00ff00;
	right: 133px;
	bottom: -2px;
}
.contact .contact__form {
	width: 50%;
	padding: 5% 10% 0 10%;
}
.contact .contact__form form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact .contact__form .screen-2__btn {
	position: static;
	margin: 25px 0 0 0;
	width: max-content;
}
.contact .contact__form .contact__form-item {
	display: flex;
	width: 100%;
	flex-direction: column;
}
.contact .contact__form .contact__form-item label {
	font-family: "Space Mono";
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 3;
	letter-spacing: normal;
	text-align: left;
	color: #8d8d9c;
}
.contact .contact__form .contact__form-item input,
.contact .contact__form .contact__form-item textarea {
	padding: calc(16px * 1366 / 1920) calc(331px * 1366 / 1920)
		calc(16px * 1366 / 1920) calc(24px * 1366 / 1920);
	opacity: 0.56;
	border: 1px solid transparent;
	background-color: #383841;
	color: #fff;
}
.contact .contact__form .contact__form-item textarea {
	min-height: 100px;
}
.contact .contact__form .contact__form-item input:focus {
	border: solid 1px #0000ff;
	outline: none;
}

.typed-cursor {
	display: none;
}

.conntact__button-container {
	width: 100%;
	padding: 10px 6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.conntact__button-container p {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}
.conntact__button-container p.success {
	color: #48e0ff;
}
.conntact__button-container p.error {
	color: #fc4646;
}

.d-none {
	display: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* responsive */
@media screen and (min-width: 1920px) {
	.contact .contact__form .contact__form-item input {
		padding: 16px 331px 16px 24px;
	}
}

@media (max-width: 600px) {
	.contact {
		flex-direction: column;
	}
	.contact > div {
		width: 100% !important;
	}
	.contact {
		padding: 30% 10px 0 0;
		justify-content: unset;
	}

	.contact .contact__form .contact__form-item input {
		padding: 10px;
	}
	.contact .contact__form .contact__form-item {
		width: 100%;
	}
	.contact .contact__info {
		padding: 0 10px;
	}
	.contact .contact__info p {
		margin: 0 0 10px 0;
	}
	.contact {
		height: auto;
	}
	.contact .contact__form {
		padding: 0 15px;
	}
}
