:root {
	--heading: calc(80px * 1366 / 1920);
	--heading1: calc(120px * 1366 / 1920);
	--heading2: calc(40px * 1366 / 1920);
	--heading3: calc(20px * 1366 / 1920);
	--heading52: calc(52px * 1366 / 1920);
	--heading32: calc(32px * 1366 / 1920);
	--heading20: calc(20px * 1366 / 1920);
	--heading24: calc(24px * 1366 / 1920);
	--heading64: calc(64px * 1366 / 1920);
	--heading40: calc(40px * 1366 / 1920);
	--heading48: calc(48px * 1366 / 1920);

	--margin: calc(40px * 1366 / 1920);

	--logoWidth: calc(190px * 1366 / 1920);
	--menuIcon: calc(48px * 1366 / 1920);

	--paddingHeader: calc(58px * 1366 / 1920);

	--fz: calc(24px * 1366 / 1920);
}

@media screen and (min-width: 1600px) {
	:root {
		--heading: calc(80px * 1920 / 1920);
		--heading1: calc(120px * 1920 / 1920);
		--heading2: calc(40px * 1920 / 1920);
		--heading3: calc(20px * 1920 / 1920);
		--heading52: calc(52px * 1920 / 1920);
		--heading32: calc(32px * 1920 / 1920);
		--heading20: calc(20px * 1920 / 1920);
		--heading24: calc(24px * 1920 / 1920);
		--heading64: calc(64px * 1920 / 1920);
		--heading40: calc(40px * 1920 / 1920);
		--heading48: calc(48px * 1920 / 1920);

		--margin: calc(40px * 1920 / 1920);

		--logoWidth: calc(190px * 1920 / 1920);
		--menuIcon: calc(48px * 1920 / 1920);

		--paddingHeader: calc(58px * 1920 / 1920);

		--fz: calc(24px * 1920 / 1920);
	}
}

@media screen and (max-width: 600px) {
	:root {
		--heading: calc(80px * 375 / 640);
		--heading1: calc(64px * 375 / 640);
		--heading2: calc(40px * 375 / 640);
		--heading3: calc(20px * 375 / 640);
		--heading52: calc(52px * 375 / 640);
		--heading32: calc(32px * 375 / 640);
		--heading20: calc(20px * 375 / 640);
		--heading24: calc(24px * 375 / 640);
		--heading64: calc(64px * 375 / 640);
		--heading40: calc(40px * 375 / 640);
		--heading48: calc(48px * 375 / 640);

		--margin: calc(40px * 375 / 640);

		--logoWidth: calc(190px * 375 / 640);
		--menuIcon: calc(48px * 375 / 640);

		--paddingHeader: 20px;

		--fz: calc(24px * 375 / 640);
	}
}

/* width */
.screen-4__block__wraper::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

/* Track */
.screen-4__block__wraper::-webkit-scrollbar-track {
	background: #22222c;
}

/* Handle */
.screen-4__block__wraper::-webkit-scrollbar-thumb {
	background: #f1f0e0;
}

/* Handle on hover */
.screen-4__block__wraper ::-webkit-scrollbar-thumb:hover {
	background: #222222;
}

/* width */
.items-wrap::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

/* Track */
.items-wrap::-webkit-scrollbar-track {
	background: #f6f6f9;
}

/* Handle */
.items-wrap::-webkit-scrollbar-thumb {
	background: #626262;
}

/* Handle on hover */
.items-wrap::-webkit-scrollbar-thumb:hover {
	background: #222222;
}

body,
html,
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.dot__info__title {
	color: #00ff00;
	font-family: "Space Mono";
	font-size: var(--heading20);
	position: absolute;
	top: -23px;
	right: -13px;
}

.w-30 {
	width: 30% !important;
}
ul,
li {
	list-style: none;
}

#root {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	flex-direction: column;
	/* overflow-x: hidden; */
	/* background: #f5f5f5; */
	width: 100%;
	height: 100%;
	/* margin: 0 0 500px 0; */
	overflow-x: hidden;
}

.container {
	display: flex;
	max-width: calc(100% - 88px);
	width: 100%;
	height: 100%;
}

.menu-icon {
	width: var(--menuIcon);
	height: var(--menuIcon);
	object-fit: contain;
}

.logo {
	width: var(--logoWidth);
	height: 64px;
	object-fit: contain;
}
.intro {
	width: 100%;
	height: 100%;
}

.intro__title {
	font-family: Arial;
	font-size: var(--heading52);
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	/* line-height: 0.58; */
	letter-spacing: normal;
	text-align: center;
	color: #4b4b4b;
	margin: 5% 0 0 0;
}

.intro__main-content p {
	font-family: "Space Mono", monospace;
	font-size: var(--heading1);
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.17;
	letter-spacing: normal;
	text-align: center;
	color: #0000ff;
	margin: 0;
}

.intro__main-content > div {
	position: relative;
}

.intro__main-content {
	background: #f5f5f5;
	overflow: hidden;
	transition: 2s;
	transition-delay: 500ms;
}

@media (min-width: 1024px) {
	.intro__main-content__wrap:hover .intro__main-content::after {
		height: 200%;
	}

	.intro__main-content__wrap:hover .intro__main-content.left {
		transform: skew(-30deg, 0deg) translateX(-300px);
	}

	.intro__main-content__wrap:hover .intro__main-content.right {
		transform: skew(-30deg, 0deg) translateX(300px);
	}
}

.intro__main-content.left {
	transform: skew(-30deg, 0deg) translateX(1px);
}

.intro__main-content.right {
	transform: skew(-30deg, 0deg) translateX(1px);
}

.intro__main-content.right .wrap-text {
	transform: skew(30deg, 0deg) translateX(-50%);
}
.intro__main-content.left .wrap-text {
	transform: skew(30deg, 0deg) translateX(50%);
}

.intro__main-content__wrap {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.intro__main-content.left:after {
	right: 0;
}

.intro__main-content.right:after {
	left: -1px;
}

.intro__main-content:after {
	content: "";
	width: 2px;
	height: 0%;
	background: blue;
	position: absolute;
	top: -10%;
	transition: 500ms;
}

.intro__main-content.remove-fill-color:after {
	animation: fillColorRevert 200ms forwards;
}

@keyframes fillColor {
	0% {
		height: 0%;
	}

	100% {
		height: 150%;
	}
}

@keyframes fillColorRevert {
	0% {
		height: 150%;
	}

	100% {
		height: 0%;
	}
}

@keyframes fillColorRevert {
	0% {
		height: 120%;
	}
	25% {
		height: 75%;
	}
	50% {
		height: 50%;
	}
	75% {
		height: 25%;
	}
	100% {
		height: 0%;
	}
}

@keyframes moveLeft {
	0% {
		transform: skew(-30deg, 0deg) translateX(0px);
	}

	25% {
		transform: skew(-30deg, 0deg) translateX(-300px);
	}

	50% {
		transform: skew(-30deg, 0deg) translateX(-300px);
	}

	100% {
		transform: skew(-30deg, 0deg) translateX(0px);
	}
}
@keyframes moveRight {
	0% {
		transform: skew(-30deg, 0deg) translateX(0px);
	}

	25% {
		transform: skew(-30deg, 0deg) translateX(300px);
	}

	50% {
		transform: skew(-30deg, 0deg) translateX(300px);
	}

	100% {
		transform: skew(-30deg, 0deg) translateX(0px);
	}
}

@keyframes rotate1 {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate1reverse {
	0% {
		transform: rotate(0deg);
		top: 52px;
		left: 20px;
	}

	50% {
		transform: rotate(-180deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

@keyframes rotate2 {
	0% {
		transform: rotate(-180deg);
	}

	100% {
		transform: rotate(180deg);
	}
}

@keyframes rotate3 {
	0% {
		transform: rotate(-270deg);
	}

	100% {
		transform: rotate(270deg);
	}
}

.intro__main {
	position: relative;
	margin: 5% 0 0 0;
	height: 100%;
}
.intro__main-detail p {
	font-family: "Roboto";
}

.intro__main-detail {
	width: 450px;
	margin: 110px 0;
	font-family: "Roboto";
	font-size: 22px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 2;
	letter-spacing: normal;
	text-align: center;
	color: #232323;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 5%);
}

.intro__main-detail.hover:after {
	background: #ec008c;
	transform: translateX(-100px);
}

.intro__main-detail.hover:before {
	background: #ec008c;
	transform: translateX(100px);
}

.intro__main-detail:after {
	content: "";
	width: 150px;
	height: 4px;
	position: absolute;
	background: #ec008c;
	top: -15px;
	right: 0;
	transition: 4s;
	transition-delay: 1s;
	animation-timing-function: ease-in, ease-out;
}

.intro__main-detail:before {
	content: "";
	width: 150px;
	height: 4px;
	position: absolute;
	background: #ec008c;
	bottom: -15px;
	left: 0;
	transition: 4s;
	transition-delay: 1s;
	animation-timing-function: ease-in, ease-out;
}

@keyframes fullWidth {
	0% {
		width: 0px;
	}

	100% {
		width: 150px;
		transform: translateX(0);
	}
}

@keyframes moveLineRight {
	0% {
		width: 150px;
		transform: translateX(0);
	}

	100% {
		width: 150px;
		transform: translateX(-50px);
	}
}

@keyframes moveLineLeft {
	0% {
		width: 150px;
		transform: translateX(0);
	}

	100% {
		width: 150px;
		transform: translateX(50px);
	}
}

.mouse-icon-wrap {
	position: fixed;
	bottom: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	transition: 250ms;
}

.arrow-down {
	margin: 10px 0 5px 0;
	animation: bounce 2s infinite;
}

.opening-screen {
	height: calc(100vh + 3px);
	width: 100%;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
}

.screen-1 {
	background: #f5f5f5;
	padding: 5% 0 0 0;
}

.opening-screen.screen-2:before {
	content: "";
	top: 50%;
	left: 50%;
	width: calc(1474px * 1366 / 1920);
	height: calc(1474px * 1366 / 1920);
	position: absolute;
	background: #282832;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}
.dot-3 .dot:hover {
	animation-play-state: paused;
}

.dot-1 .dot:hover {
	animation-play-state: paused;
}

.dot-2 .dot:hover {
	animation-play-state: paused;
}

/* screen 2 */

@keyframes resizeCircle {
	0% {
		transform: scale(8);
	}
	100% {
		transform: scale(0);
	}
}
.screen-2__small-cricle:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 100;
	border-radius: 100%;
	transform: scale(0);
	z-index: 1004;
	animation: resizeCircle 1.5s ease-in-out;
}
.screen-2 {
	background: #22222c;
	position: relative;
	overflow: hidden;
}
.screen-2__big-cricle {
	background: rgba(255, 255, 255, 0.03);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.screen-2__small-cricle {
	width: 30%;
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.screen-2__center-circle {
	background: #fff;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	z-index: 4;
}

p.screen-2__main-text {
	font-size: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	font-family: "Space Mono";
	font-size: var(--heading);
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: right;
	color: #fff;
	z-index: 0;
	transform: translate(-50%, -50%);
}

.screen-2__center-circle p.screen-2__main-text {
	color: #0000ff;
}
.screen-2__wrap-text:after {
	content: "";
	width: 250px;
	height: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: dotted 2px #ffffff;
}
.screen-2__wrap-text:before {
	content: "";
	width: 350px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: dotted 2px #ffffff;
	letter-spacing: 4px;
}
.screen-2__small-cricle:after {
	content: "";
	width: 450px;
	height: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: dotted 2px #ffffff;
	letter-spacing: 4px;
}
.screen-2__btn {
	position: absolute;
	bottom: 50px;
	left: 10%;
	background: #000;
	color: #fff;
	border: 0;
	display: inline-block;
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	/* line-height: 5.83; */
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

/* screen 3 */
.screen-3 {
	background: #f8f8f8;
	width: 100%;
	height: calc(100vh + 3px);
	position: relative;
	padding: 5% 10%;
	box-sizing: border-box;
}
.screen-3__main {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

h3.screen-3__heading.heading {
	font-family: "Space Mono", monospace;
	font-size: 50px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: left;
	color: #000;
}
h3.screen-3__heading.heading span {
	color: #0000ff;
}

ul.screen-3__list li {
	/* width: 262px; */
	/* height: 38px; */
	/* margin: 32px 432px 32px 130px; */
	-webkit-backdrop-filter: blur(50px);
	cursor: pointer;
	backdrop-filter: blur(50px);
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.75;
	letter-spacing: normal;
	text-align: left;
	color: #ababab;
}

.screen-3-right__img img {
	width: 100%;
	position: relative;
	z-index: 2;
}

.screen-3-right__img {
	width: 70%;
	position: relative;
}
.screen-3-right__list-wrap {
	width: 30%;
}
.screen-3__main > div {
	width: 50%;
}
ul.screen-3__list {
	margin: 30px 0 0 40px;
	overflow: hidden;
}
ul.screen-3-right__list li {
	cursor: pointer;
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.75;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}

.screen-3-right__list-wrap {
	display: flex;
	align-items: center;
}
.screen-3-right {
	display: flex;
}

.screen-3__list li:hover {
	color: #0000ff;
}
ul.screen-3__list li:after {
	content: "";
	width: 0%;
	height: 2px;
	background: #0000ff;
	position: absolute;
	top: 50%;
	margin: 0 0 0 13px;
	transition: 800ms ease-in-out;
}

ul.screen-3__list li:hover::after {
	width: 100%;
}

ul.screen-3__list li:hover .screen-3-right__img:after {
	width: 100%;
}

.screen-3-right__img:after {
	content: "";
	width: 0%;
	height: 2px;
	background: #0000ff;
	position: absolute;
	top: 20%;
	left: 50%;
	z-index: 1;
	transition: 800ms ease-in-out;
}

/* screen 4 */
.screen-4 {
	background: #22222c;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.screen-4__mian {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: relative;
	padding: 5% 0 5% 10%;
}

.screen-4__text-wrap {
	width: 20%;
	display: flex;
}
.screen-4__block__wraper {
	width: 80%;
	overflow-x: auto;
	display: flex;
}

.screen-4__block {
	display: flex;
	width: 5000px;
}

.screen-4__text-wrap p {
	font-family: "Space Mono", monospace;
	letter-spacing: normal;
	color: #7e7e7e;
	font-size: 60px;
	padding: 0 15px;
}
.screen-4__title-2:after {
	content: "";
	height: 43%;
	width: 2px;
	position: absolute;
	left: 50%;
	top: 175px;
	background: #0000ff;
}
.screen-4__title-2 {
	position: relative;
}
.screen-4__block-item {
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0 25px 0 0;
}

.screen-4__block-item__title h3 {
	font-family: "Space Mono";
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	font-size: 30px;
	padding: 0 0 10px 0;
}

.screen-4__block-item__title p {
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: normal;
	text-align: left;
	color: #c8c8c8;
}

.screen-4__block-item__square {
	background: #a8a8c9;
	width: 100%;
	height: 150px;
}

.screen-4__block-item__title {
	display: flex;
	flex-direction: column;
}
.--yl {
	background: #f1f0e0;
}

/* footer */
footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10%;
	background: #22222c;
}

ul.footer__info li {
	list-style: disc;
}
ul.footer__info li:first-child {
	list-style: none;
}
ul.footer__info li::before {
	content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: #cccccc; /* Change the color */
	font-weight: bold; /* If you want it to be bold */
	display: inline-block; /* Needed to add space between the bullet and the text */
	width: 1em; /* Also needed for space (tweak if needed) */
	margin-left: -1em; /* Also needed for space (tweak if needed) */
}
ul.footer__info li {
	display: inline-block;
	margin: 0 25px 0 0;
	color: #cccccc;
	font-family: "Roboto";
	font-size: calc(16px * 1366 / 1920);
	padding: 10px 0;
}

.footer__copy {
	color: #cccccc;
	font-family: "Roboto";
	font-size: calc(16px * 1366 / 1920);
	padding: 10px 0;
}

.delay-250ms {
	animation-delay: 250ms;
}
.delay-500ms {
	animation-delay: 500ms;
}
.hidden {
	opacity: 0;
	visibility: hidden;
}

.dot-fill {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.dot-1 {
	width: 250px;
	height: 250px;
	z-index: 1002;
}

.dot-2 {
	width: 350px;
	height: 350px;
	z-index: 1001;
}

.dot-3 {
	width: 450px;
	height: 450px;
	/* background: red; */
	z-index: 1000;
}

.dot-1 .dot {
	height: 100%;
	position: relative;
	/* transform: rotate(60deg); */
	animation: rotate1 10s infinite ease-out;
}
.dot-2 .dot {
	height: 100%;
	position: relative;
	/* transform: rotate(180deg); */
	animation: rotate1 15s infinite ease-in;
}
.dot-3 .dot {
	height: 100%;
	position: relative;
	transform: rotate(270deg);
	animation: rotate1 20s infinite ease-out;
}

.dot-1 .dot:before {
	content: "";
	background: #fff200;
	width: calc(20px * 1355 / 1920);
	height: calc(20px * 1355 / 1920);
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: 39px;
}

.dot-2 .dot:before {
	content: "";
	background: #ec008c;
	width: calc(20px * 1355 / 1920);
	height: calc(20px * 1355 / 1920);
	border-radius: 50%;
	position: absolute;
	top: 60px;
	left: 30px;
}

.dot-3 .dot .circle {
	/* content: ""; */
	background: #00ff00;
	width: calc(20px * 1355 / 1920);
	height: calc(20px * 1355 / 1920);
	border-radius: 50%;
	position: absolute;
	top: 91px;
	left: 31px;
}

.dot__info {
	width: 150px;
	height: 50px;
	position: fixed;
	top: 52px;
	left: 20px;
	z-index: 1005;
	transition: 250ms;
	opacity: 0;
	z-index: 10004;
	/* background: red; */
	/* transform: translate(10px, 32px); */
	/* animation: rotate1reverse 20s infinite ease-out; */
}

.dot__info__list {
	position: absolute;
	left: 23%;
	top: 10px;
	color: #fff;
	font-family: "Roboto";
	font-size: 16px;
}

.dot__info__list p {
	padding: 5px 0;
}

.dot__info.dot__info__3 {
	width: 299px;
}
.dot__info.active {
	opacity: 1;
}

.dot__info:before {
	width: 20%;
	content: "";
	height: 2px;
	background: #00ff00;
	position: absolute;
	transform: rotate(-45deg);
	top: calc(50% + 2px);
	left: 6px;
}
.dot__info:after {
	width: 85%;
	content: "";
	height: 2px;
	background: #00ff00;
	position: absolute;
	right: -12px;
	top: 6px;
}

/* responsive */
@media (min-width: 1204px) and (max-width: 1366px) {
	.intro__main-detail {
		margin: 45px 0;
	}
}
@media (max-width: 600px) {
	.intro__main-detail {
		width: 100%;
		font-size: calc(24px * 375 / 640);
		position: relative !important;
		left: unset;
	}
	.main-button img.menu-icon {
		width: 25px;
	}

	.main-button img.logo {
		width: 100px;
	}
	.screen-1 {
		padding: 25% 0 0 0;
	}
	.intro__main {
		position: unset;
		display: flex;
		flex-direction: column;
	}
	.intro__main > div {
		position: unset;
		transform: unset;
	}
	.intro__main-content.left {
		transition: unset;
		display: none;
	}

	.intro__main-content.right {
		transform: unset;
	}

	.wrap-text {
		transform: unset;
	}

	.intro__main-content.right .wrap-text {
		transform: unset;
	}
	.container {
		max-width: unset;
		padding: 0 20px;
	}
	.intro__main-content__wrap {
		margin: 50px 0;
	}
	.intro__main-detail {
		margin: 50px 0;
	}
	p.intro__title {
		margin: 35px 0;
	}

	.screen-2__wrap-text:before,
	.screen-2__wrap-text:after,
	.screen-2__small-cricle:before,
	.screen-2__small-cricle:after,
	.dot:before {
		content: unset !important;
	}
	.dot-2 .dot,
	.dot-1 .dot,
	.dot-3 .dot {
		animation: unset;
	}

	.screen-2__big-cricle {
		top: 30%;
	}

	.screen-2__text {
		position: absolute;
		top: 50%;
	}

	.screen-2__text .item {
		margin: 0 0 15px 0;
	}

	.screen-2__text .item p {
		font-family: "Space Mono";
		color: #ffffff;
		font-size: 16px;
	}
	.screen-2__text .item h3 {
		font-size: 20px;
		line-height: calc(30px * 375 / 640);
		font-family: "Space Mono";
		margin: 0 0 10px 0;
		padding: 0 0 5px 0;
		border-bottom: 2px solid #fff;
		display: inline-block;
	}
	.screen-2__text .item:nth-child(1) h3 {
		color: #00ff00;
		border-color: #00ff00;
	}

	.screen-2__text .item:nth-child(2) h3 {
		color: #ec008c;
		border-color: #ec008c;
	}

	.screen-2__text .item:nth-child(3) h3 {
		color: #fff200;
		border-color: #fff200;
	}

	.screen-3 {
		padding: 20% 10px 10px 10px;
		display: flex;
	}

	.our-work.opening-screen.screen-3 .title {
		font-size: var(--heading64);
		width: 100%;
		font-family: "Space Mono";
		color: #343434;
		line-height: calc(120px * 375 / 640);
		padding: 0 10px;
	}

	.our-work.opening-screen.screen-3 .title span {
		color: #0000ff;
	}
	.our-work__content {
		display: flex;
		padding: 30px 0 0 10px;
		width: 100%;
		justify-content: space-between;
		height: 100%;
	}

	.our-work__content > div {
		width: calc(50% - 10px);
	}

	.our-work__content__left ul li a {
		font-family: "Roboto";
		color: #ababab;
		font-size: 19px;
	}

	.our-work__content__left ul li {
		margin: 0 0 19px 0;
	}

	.our-work__content__left ul li:hover a {
		color: #0000ff;
	}

	.our-work__img {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.our-work__img img {
		width: 200px;
	}

	.our-work__item {
		font-family: "Roboto";
		color: #737373;
		line-height: 25px;
	}

	.screen-4 {
		align-items: unset;
		height: auto;
	}
	.screen-4__top {
		padding: 30% 10px 0;
	}

	.screen-4__top {
		display: flex;
	}

	.screen-4__top-text {
		width: 20%;
	}

	.screen-4__top-content {
		width: 80%;
	}

	.screen-4__top-text {
		display: flex;
	}

	.screen-4__title-1 p {
		color: #7e7e7e;
		font-size: 20px;
		font-family: "Space Mono";
	}

	.screen-4__title-2 p {
		color: #fff;
		font-size: 20px;
		font-family: "Space Mono";
	}

	.screen-4 h3 {
		font-family: "Space Mono";
		font-size: 20px;
		font-weight: bold;
		margin: 20px 0;
		color: #ffffff;
	}

	.screen-4 p {
		font-family: "Roboto";
		font-size: 16px;
		color: #c8c8c8;
	}

	.screen-4__top-text p {
		font-size: 25px;
	}

	.screen-4__title-1 {
		margin: 0 15px 0 10px;
	}

	.screen-4__top-content .box {
		background: #a8a8c9;
		width: 100%;
		height: 198px;
	}
	.screen-4 .item {
		margin: 20px 0;
		padding: 20px;
	}

	.item:nth-child(2) .box,
	.item:nth-child(3) .box {
		height: 170px;
		width: 250px;
		background: #f1f0e0;
	}

	.screen-4 .item:nth-child(3) {
		padding: 0 0 0 30%;
	}

	.screen-4__title-2:after {
		top: 50px;
	}

	.screen-2__btn {
		position: unset;
		width: 160px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 10px auto;
	}

	.mouse-icon-wrap {
		display: none;
	}

	.screen-2 .screen-2__btn {
		position: absolute;
		width: 160px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 10px auto;
		left: 50%;
		transform: translateX(-50%);
		bottom: 5px;
	}

	footer {
		flex-direction: column;
		padding: 0 15px;
	}
	ul.footer__info {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		justify-content: space-around;
	}

	ul.footer__info li {
		margin: 0;
	}
}
