.main-button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	padding: var(--paddingHeader);
	padding-bottom: 0;
	z-index: 1000;
	transition: 250ms;
}
.main-button .menu-icon {
	cursor: pointer;
}

.menu-wrap {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 1111;
	left: -100%;
	transition: 400ms ease-out;
	overflow: hidden;
}
.menu-wrap.close {
	left: 0;
}

.menu {
	background: #22222c;
	width: 100%;
	height: 100vh;
	justify-content: space-between;
	padding: 10% var(--paddingHeader);
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	/* z-index: 10001; */
	position: fixed;
	top: 0;
}
.menu .menu__decor {
	position: relative;
	width: 1px;
}
.menu .menu__decor img {
	position: absolute;
	left: 20px;
	/* transform: translateX(-50%); */
	z-index: 2;
	background: #22222c;
	padding: 0 0 10px 0;
}
.menu .menu__decor::after {
	position: absolute;
	content: "";
	top: 0px;
	left: 25px;
	width: 2px;
	height: 0%;
	background: #494952;
	transform: translateX(-50%);
	z-index: 1;
	transition: all 1s ease-in-out;
	animation-delay: 500ms;
}
.menu .menu__main {
	width: 100%;
	padding: 0 0 0 10%;
	display: flex;
	justify-content: space-between;
}
.menu .menu__main ul li {
	padding: 30px 0;
}
.menu .menu__main ul li:nth-child(1),
.menu .menu__main ul li:nth-child(4) {
	padding: 20px 0 40px 0;
}
.menu .menu__main ul li a {
	cursor: pointer;
	font-family: "Roboto";
	font-size: var(--heading48);
	font-weight: 100;
	letter-spacing: normal;
	text-align: left;
	color: #86868b;
	line-height: var(--heading32);
}
.menu .menu__main ul li a:hover {
	color: #fff;
}
.menu .menu__main .menu__main__float-text {
	width: 80%;
	/* display: flex; */
}
.menu .menu__main .menu__main__float-text > div {
	/* width: calc(100% / 3); */
	/* display: flex; */
}
.menu .menu__main .menu__main__float-text > div:nth-child(1) {
	/* animation: slideInDown1 10s infinite ease-in-out; */
}
.menu .menu__main .menu__main__float-text > div:nth-child(2) {
	animation: slideInDown2 18s infinite ease-in-out;
}
.menu .menu__main .menu__main__float-text > div:nth-child(3) {
	animation: slideInDown3 14s infinite ease-in-out;
}
.menu .menu__main .menu__main__float-text p {
	transform: rotate(90deg);
	font-family: "Space Mono";
	font-size: 50px;
	line-height: 1.17;
	color: #22222c;
	text-shadow: 0px 0px 4px #363640;
	position: absolute;
}
.menu .menu__main .menu__main__float-text p.--p1 {
	right: 5%;
}
.menu .menu__main .menu__main__float-text p.--p2 {
	right: 0%;
}
.menu .menu__main .menu__main__float-text p.--p3 {
	right: 0%;
}

ul.footer__info li:first-child:before {
	content: none;
}

.menu__decor.active:after {
	height: 100%;
}

.delay-menu-item-0 {
	animation-delay: 300ms;
}

.delay-menu-item-1 {
	animation-delay: 400ms;
}

.delay-menu-item-2 {
	animation-delay: 500ms;
}

.delay-menu-item-3 {
	animation-delay: 600ms;
}

.delay-menu-item-4 {
	animation-delay: 700ms;
}

.delay-menu-item-5 {
	animation-delay: 800ms;
}

.line {
	width: 25%;
	height: 2px;
	background: #0000ff;
	transform: rotate(-45deg);
	position: absolute;
	bottom: 30%;
	left: 35%;
}
marquee {
	transform: rotate(90deg);
	color: #383840;
	font-size: 100px;
	font-family: "Space Mono";
	width: 100vh;
	position: absolute;
	top: 42%;
	right: 10%;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #363640;
	-webkit-text-fill-color: transparent;
	z-index: 1;
}

marquee:nth-child(2) {
	right: 0%;
}

marquee:nth-child(3) {
	right: -14%;
}
@keyframes slideInDown1 {
	0% {
		transform: translateY(-50%);
	}
	100% {
		transform: translateY(200%);
	}
}
@keyframes slideInDown2 {
	0% {
		transform: translateY(-50%);
	}
	100% {
		transform: translateY(180%);
	}
}
@keyframes slideInDown3 {
	0% {
		transform: translateY(-70%);
	}
	100% {
		transform: translateY(180%);
	}
}

/* reponsive */

@media (max-width: 600px) {
	.menu__main ul {
		width: 100%;
		z-index: 2;
	}
	.line {
		width: 100%;
	}
	marquee {
		font-size: 50px;
	}
	.main-button {
		width: 100vw;
	}
}

@media (max-width: 1366px) {
	.menu .menu__main ul li:nth-child(1),
	.menu .menu__main ul li:nth-child(4) {
		padding: 20px 0 10px 0;
	}
}

@media (min-width: 2560px) {
	.line {
		bottom: 45%;
	}
}

@media (max-width: 375px) {
	.menu {
		padding: 10% 0 0 0;
	}
	.main-button {
		padding: 12px;
	}
}
