:root {
	--color2: #fff200;
	--color3: #ec008c;
	--color4: #00ff00;
}
.wwd__intro {
	width: 100%;
	height: 100vh;
	background: #22222c;
}

.wwd__intro {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.wwd__intro h1 {
	font-family: "Space Mono";
	font-size: var(--heading);
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	margin: 0 0 50px 0;
	position: relative;
	word-spacing: -30px;
}
.wwd__intro h1:after {
	content: "";
	position: absolute;
	bottom: -10px;
	width: 80%;
	height: 2px;
	background: #0000ff;
	left: 50%;
	transform: translateX(-50%);
}
.wwd__intro .ww__intro-sub p:first-child {
	color: #00ff00;
}
.wwd__intro .ww__intro-sub-2 p {
	font-family: "Roboto";
	font-stretch: normal;
	font-style: normal;
	line-height: 38px;
	letter-spacing: -0.38px;
	text-align: center;
	color: #c1c1c1;
	padding: 0px 30%;
	font-size: var(--heading24);
}
.wwd__intro p {
	font-family: "Space Mono";
	font-size: calc(32px * 1366 / 1920);
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: calc(3.13 * 1366 / 1920);
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	margin-bottom: 100px;
}

.wwd__item {
	width: 100%;
	height: 100vh;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #707070;
	flex-direction: row-reverse;
}
.wwd__item .wwd__item-left {
	width: 60%;
	padding: 8% 5% 5% 5%;
	overflow: hidden;
	height: 100%;
	box-sizing: border-box;
}
.wwd__item .wwd__item-left .title {
	position: relative;
	font-family: "Space Mono";
	font-size: 30px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.37;
	letter-spacing: normal;
	text-align: left;
	color: #4e4e4e;
	margin: 0 0 25px 0;
}
.wwd__item .wwd__item-left .wwd__item-left__subtitle {
	font-family: "Roboto";
	font-size: 20px;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.92;
	letter-spacing: normal;
	text-align: left;
	color: #4e4e4e;
	display: flex;
	position: relative;
	height: 50px;
	margin: 50px 0 0 0;
}
.wwd__item .wwd__item-left .wwd__item-left__subtitle p {
	position: absolute;
	left: 0;
	top: 0%;
	margin: 0 !important;
	font-size: var(--heading1);
	transform: translateY(-50%);
}

.wwd__item .wwd__item-left h3 span {
	position: absolute;
	right: 0px;
	bottom: -8px;
	font-size: var(--heading64);
	color: #c9c9c9;
	font-family: "Roboto";
	font-weight: 300;
}
.wwd__item .wwd__item-left p {
	margin: 0 0 25px 0;
	font-family: "Roboto";
	letter-spacing: -0.48px;
	text-align: left;
	color: #4e4e4e;
	line-height: var(--heading32);
	font-size: var(--heading20);
}
.wwd__item .wwd__item-left p.wwd__item-left__info {
	font-size: var(--heading24);
	font-weight: bold;
	line-height: 1.6;
}
.wwd__item .wwd__item-right {
	width: 40%;
}
.wwd__item .wwd__item-right .box {
	background: url("../img/image-1.png") no-repeat center;
	width: 100%;
	height: calc(560px * 1366 / 1920);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

.wwd__item .wwd__item-right .box.box--2 {
	background: url("../img/image-2.png") no-repeat center;
}

.wwd__item .wwd__item-right .box:after {
	background: rgba(0, 0, 255, 0.8);
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.wwd__intro--wave {
	/* overflow: hidden; */
	position: relative;
	max-width: 80%;
	width: 100%;
	height: 100px;
}

.wwd__item-right .box ul li {
	padding: 0 70px 0 0;
	color: #cecece;
	font-size: var(--heading20);
	font-family: "Space Mono";
	cursor: pointer;
	height: calc(80px * 1366 / 1920);
	transition: 250ms;
	position: relative;
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.wwd__item-right .box ul li.active {
	color: #fff;
	font-size: var(--heading32);
	font-weight: bold;
}
.wwd__item-right .box ul li.active:after {
	position: absolute;
	width: 8px;
	height: 100%;
	content: "";
	right: -4px;
	top: 0;
	background: #ec008c;
}

.wwd__item-right .box ul {
	position: absolute;
	z-index: 2;
}
.items-wrap {
	height: 100%;
	overflow-y: scroll;
	padding: 5% 10%;
}
.items-wrap .item {
	margin: 0 0 20% 0;
}
.wwd__services {
	width: 100%;
	background: #0000ff;
	padding: 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.wwd__services h3 {
	font-family: "Space Mono";
	color: #fff;
	font-size: var(--heading24);
	text-transform: uppercase;
}
.wwd__services__content {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 15px;
}
.wwd__services__content ul li {
	color: #fff;
	font-family: "Roboto";
	line-height: 3.2;
}
.wwd__services__content ul li.title {
	color: #00ff00;
	font-size: var(--heading24);
	position: relative;
	font-family: "Space Mono";
}
.wwd__services__content ul li.title:after {
	content: "";
	position: absolute;
	width: 100px;
	height: 4px;
	background: #fff200;
	bottom: 5px;
	left: 0;
}

.line-container {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
}

.line-container:after {
	width: 100%;
	height: 1px;
	content: "";
	position: absolute;
	/* bottom: 0; */
	/* left: 0; */
	/* background: #22222c; */
}

.line-container img {
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	bottom: -2px;
	position: absolute;
}

.line-container .dot {
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 1;
	stroke-width: 6px;
	fill: transparent;
	stroke: transparent;
	transition: all 250ms ease-in-out;
}

.dot-content {
	width: 16px;
	height: 16px;
	background: #686868;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.dot-text {
	position: absolute;
	color: transparent;
	width: 221px;
	font-family: "Space Mono";
	font-size: 19px;
	top: -32px;
	left: -43px;
	transition: all 250ms ease-in-out;
}

.dot-1.active .dot-text {
	color: var(--color2);
}

.dot-2.active .dot-text {
	color: var(--color3);
}

.dot-3.active .dot-text {
	color: var(--color4);
}

.dot-4.active .dot-text {
	color: var(--color4);
}

.dot-1.active {
	stroke: var(--color2);
}

.dot-2.active {
	stroke: var(--color3);
}

.dot-3.active {
	stroke: var(--color4);
}

.dot-4.active {
	stroke: var(--color4);
}
/* =========== */

.dot-1.active .dot-content {
	background: var(--color2);
}

.dot-2.active .dot-content {
	background: var(--color3);
}

.dot-3.active .dot-content {
	background: var(--color4);
}

.dot-4.active .dot-content {
	background: var(--color4);
}

.dot-1 {
	top: -4px;
	left: calc(0% + 145px);
}

.dot-2 {
	bottom: -5px;
	left: calc(25% + 150px);
}

.dot-3 {
	top: -5px;
	right: calc(25% + 175px);
}

.dot-4 {
	bottom: -5px;
	right: calc(0% + 146px);
}

.dotted {
	stroke-dasharray: 3, 27, 7, 5;
	stroke-linecap: round;
	transition: all 250ms ease-in-out;
}

.wwd__intro--wave .overlay {
	width: 95%;
	background: #686868;
	height: 90%;
	position: absolute;
	top: 4px;
	left: 5px;
	transition: all 250ms ease-in-out;
	z-index: 1;
}
.wwd__intro--wave .overlay:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
}

.wwd__intro--wave .overlay.active:after {
	animation: fullWidth 4s ease-in-out;
}

.w-0 {
	width: 0% !important;
}
/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f6f6f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #626262;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #222222;
}

@keyframes fullWidth {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}
@keyframes fullWidthRevert {
	0% {
		width: 100%;
	}

	100% {
		width: 0%;
	}
}

/* /reponsive */

@media (max-width: 600px) {
	.wwd__item {
		flex-direction: column;
	}

	.wwd__item > div {
		width: 100% !important;
	}

	.wwd {
		padding: 20% 0 0 0;
	}

	.wwd__intro .ww__intro-sub-2 p {
		padding: 0 10px;
	}
}
