.our-work {
  width: 100%;
  padding: 10%;

  //navbar
  .our-work__navbar {
    margin: 0 0 50px 0;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #c4c4c4;
        display: inline-block;
        margin: 0 30px 0 0;
        cursor: pointer;
        &:hover {
          color: #0000ff;
        }
      }
    }
  }

  //content
  .our-work__content {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    //left
    .our-work__content__left {
      width: 40%;
      h3 {
        font-family: "Space Mono";
        font-size: 44px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: #b7b7b7;
      }
    }
    //right
    .our-work__content__right {
      width: 60%;
      padding: 0 0 0 5%;
      .our-work__item {
        margin: 0 0 30px 0;
        h3 {
          font-family: "Roboto";
          font-size: 30px;
          font-weight: 100;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.92;
          letter-spacing: normal;
          text-align: left;
          color: #4e4e4e;
        }
        p {
          font-family: "Roboto";
          font-size: 20px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.92;
          letter-spacing: normal;
          text-align: left;
          color: #4e4e4e;
          margin: 0 0 20px 0;
          span {
            font-weight: bold;
          }
          &.sub {
            font-weight: bold;
          }
        }
      }
    }
  }
}
